<section class="my-8">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-3 col-md-4 mb-4 mb-md-0">
        <form class="mb-8" [formGroup]="categoriesForm">
          <h5 class="mb-3">Categories</h5>
          <div *ngFor="let item of categories$ | async" class="form-check mb-2">
            <input
              [id]="item.id"
              [value]="item"
              [formControlName]="item.id"
              class="form-check-input"
              type="checkbox"
            /><label [for]="item" class="form-check-label">{{
              item.name
            }}</label>
          </div>
        </form>
        <form class="mb-8" [formGroup]="storesForm">
          <h5 class="mb-3">Stores</h5>
          <div *ngFor="let item of stores$ | async" class="form-check mb-2">
            <input
              [id]="item.id"
              [value]="item"
              [formControlName]="item.id"
              class="form-check-input"
              type="checkbox"
            /><label [for]="item" class="form-check-label">{{
              item.name
            }}</label>
          </div>
        </form>
        <form [formGroup]="priceForm">
          <h5 class="mb-3">Price from</h5>
          <input
            class="form-control mb-3"
            type="number"
            formControlName="priceFrom"
          />
          <h5 class="mb-3">Price to</h5>
          <input
            class="form-control mb-3"
            type="number"
            formControlName="priceTo"
          />
        </form>
      </div>
      <div class="col-12 col-lg-9 col-md-8"></div>
    </div>
  </div>
</section>
